body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #212529;
}

.nav-link {
    color: #007BFF;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3;
}

.text-justify {
    text-align: justify;
}

#menu {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}

#menu ul li a{
    font-size: 25px;
    padding-bottom: 20px;
}